:root {
  --sedans-orange: hsl(31, 77%, 52%);
  --suvs-cyan: hsl(184, 100%, 22%);
  --luxury-dark-cyan: hsl(179, 100%, 13%);

  --para-text: hsl(0, 0%, 100%);
  --buttons-gray: hsl(0, 0%, 95%);

  /*Font family*/

  --car-font: "Big Shoulders Display";
  --bold-header: 700;

  --car-para: "Lexend Deca";
  --regular: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  margin: 0 50%;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  height: 100vh;
}



.sedans,
.suvs,
.luxury {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 350px;
  height: 550px;
  padding: 20px 40px;
}

.sedans {
  background-color: var(--sedans-orange);
}

.suvs {
  background-color: var(--suvs-cyan);
}

.luxury {
  background-color: var(--luxury-dark-cyan);
}

.car {
  font-family: var(--car-font);
  font-weight: var(--bold-header);
  font-size: 2.8rem;
}

.car {
  color: var(--para-text);
}

.car-intro {
  color: var(--para-text);
  word-spacing: 4px;
  font-family: var(--car-para);
  font-weight: var(--regular);
}

.button {
  width: 150px;
  height: 50px;
  border-radius: 40px;
 background-color: var(--para-text);
background-color: white;
 border:0;
  display: inline-block;
  padding-top: 15px;
  text-align: center;
  font-weight: var(--bold-header);
margin-top:80px;

 
}

a {
  text-decoration: none;
  font-weight: var(--bold-header);
}

#sedans {
  color: var(--sedans-orange);
  background-color: var(--para-text);
  border:3px solid var(--buttons-gray);
}

#suvs {
  color: var(--suvs-cyan);
  background-color: var(--para-text);
  border:3px solid var(--buttons-gray);
}

#luxury {
  color: var(--luxury-dark-cyan);
  background-color: var(--para-text);
  border:3px solid var(--buttons-gray);
}

/* on active state */

#sedans:active {
    background-color: var(--sedans-orange);
    color: var(--para-text);
}

#suvs:active {
    background-color: var(--suvs-cyan);
    color: var(--para-text); 
}

#luxury:active {
    background-color: var(--luxury-dark-cyan);
    color: var(--para-text); 
}


footer {
    text-align: center;
    font-weight:var(--regular);
    font-family: var(--car-para);
}

@media only screen and (max-width: 750px) {
  section {
      margin: 0 auto;
      display:flex;
      justify-content:center;
    
  }
  
    .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height:auto;
    
  }

  footer{
      margin-top: 30px;
  }
}

@media only screen and (max-width: 1080px) {


  section {
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

 .sedans,
  .suvs,
  .luxury {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: auto;
    height: 600px;
    padding: 20px 40px;
  }
}
