:root {
  --sedans-orange: hsl(31, 77%, 52%);
  --suvs-cyan: hsl(184, 100%, 22%);
  --luxury-dark-cyan: hsl(179, 100%, 13%);

  --para-text: hsla(0, 0%, 100%, 0.75);
  --buttons-gray: hsl(0, 0%, 95%);

  /*Font family*/

  --car-font: "Big Shoulders Display";
  --bold-header: 700;

  --car-para: "Lexend Deca";
  --regular: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
}

section {
  margin: 0 50%;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  height: 100vh;
}

.sedans,
.suvs,
.luxury {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 350px;
  height: 500px;
  padding: 20px 40px;
}

.sedans {
  background-color: var(--sedans-orange);
}

.suvs {
  background-color: var(--suvs-cyan);
}

.luxury {
  background-color: var(--luxury-dark-cyan);
}

.car {
  font-family: var(--car-font);
  font-weight: var(--bold-header);
  font-size: 2rem;
}

.car {
  color: var(--para-text);
}

.car-intro {
  color: var(--buttons-gray);
  word-spacing: 4px;
  font-family: var(--car-para);
  font-weight: var(--regular);
}

.button {
  width: 140px;
  height: 50px;
  border-radius: 40px;
background-color: var(--para-text);
  display: inline-block;
   border:3px solid var(--buttons-gray);
  padding-top: 15px;
  text-align: center;
  font-weight: var(--bold-header);
 
}

a:visited {
    color: green;
}

a {
  text-decoration: none;
  font-weight: var(--bold-header);
  /* color: var(--para-text); */
}

#sedans {
  color: var(--sedans-orange);
  background-color: var(--para-text);
}

#suvs {
  color: var(--suvs-cyan);
  background-color: var(--para-text);
}

#luxury {
  color: var(--luxury-dark-cyan);
  background-color: var(--para-text);
}

/* on active state */

#sedans:active {
    background-color: var(--sedans-orange);
    color: var(--para-text);
}

#suvs:active {
    background-color: var(--suvs-cyan);
    color: var(--para-text); 
}

#luxury:active {
    background-color: var(--luxury-dark-cyan);
    color: var(--para-text); 
}


@media only screen and (max-width: 750px) {
  section {
      margin: 0 auto;
      display:flex;
      justify-content:center;
  }
  
    .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    /* width:375px; */
    width:100vw;
  }
}

@media only screen and (max-width: 1080px) {


  section {
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

 .sedans,
  .suvs,
  .luxury {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 600px;
    padding: 20px 40px;
  }
}
